.btn{
  display: block;
  height: 30px;
  width: 256px;
  border: solid 3px #ffffff;
  border-radius: 30px;
  text-decoration: none;
  color:#ffffff;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: bold;

}

.btn:hover,
.btn:active
{
  color: #d22856;
  background-color:#ffffff;
}

.btn:focus{
  color: rgba(344, 81, 82, 0.3);
  background-color:#ffffff;
}
