.contact {}

.contact__wrapper {
  .container;
}

.contact__title {
  .visuali-hidden;
}

.contact__item {
  margin-bottom: 26px;
}

.contact__item a {
  text-decoration: none;
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  display: block;
}

.contact__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-top: 41px;
  margin-bottom: 36px;
}

.contact__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.contact__map img {
  .visuali-hidden;
}

.contact__item-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 4px;
}
