.filter {
  background-color: @bg-lightgrey;
  margin-top: 41px;
}

.filter__inner {
  .container;
  padding-top: 21px;
}
@media @tablet-widths {
  .filter {
    margin-top: 68px;
  }

  .filter__img {
    min-height: 400px;
    width: 300px;
    outline: 1px solid red;
    margin-top: 37px;
  }

  .filter__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media @desktop-widths {
  .filter {
    margin: 65px auto 0;
    width: 940px;
  }

  .filter__inner {
    width: 820px;
    margin: 0 auto;
    padding-bottom: 29px;
  }

  .filter__img {
    margin-left: 20px;
  }
}
