.gallery-item {
  margin-bottom: 41px;
}

.gallery-item__photo {
  width: 320px;
  margin: 0 auto;
}

.gallery-item__photo img {
  display: block;
  margin: 0 auto;
}

.gallery-item__text {
  .container;
  margin-top: 18px;
  font-size: 14px;
  line-height: 24px;
}

.gallery-item__user-name {
  padding-left: 18px;
  font-weight: 700;
}

.gallery-item__user-text {
  margin: 2px 0 0;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding-left: 18px;
}

.gallery-item__like {
  margin-top: 10px;
}
@media @tablet-widths {
  .gallery-item {
    width: 300;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    min-height: 460px;
  }

  .gallery-item__photo {
    overflow: hidden;
    width: 300px;
  }

  .gallery-item__photo img {
    min-width: 300px;
    height: auto;
  }

  .gallery-item__text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding-top: 24px;
    margin-top: 0;
    width: auto;
    min-height: 134px;
    background-color: @bg-lightgrey;
    min-height: 131px;
  }

  .gallery-item__like {
    margin-top: auto;
    margin-bottom: 22px;
    padding-left: 28px;
    width: 50%;
  }

  .gallery-item__user-time {
    margin-left: 1px;
  }

  .gallery-item__user-text {
    padding-right: 10px;
    margin: 0;
  }

  .gallery-item--best-day {
    width: 100%;
    margin-bottom: 38px;
  }

  .gallery-item__photo--best-day {
    margin: 0 auto;
    width: 660px;
    height: 509px;
    overflow: hidden;
  }

  .gallery-item__photo--best-day img {
    height: 509px;
    min-width: 700px;
    transform: translateX(-24px);
  }

  .gallery-item__text--best-day {
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    padding-top: 24px;
    padding-bottom: 23px;
    margin-top: 0;
    margin-bottom: 12px;
    width: 620px;
    min-height: 71px;
  }

  .gallery-item__text--best-day .gallery-item__like {
    order: -1;
    width: 148px;
    margin: 0 0 0 auto;
  }

  .gallery-item__text--best-day p {
    padding-left: 28px;
    margin-top: 1px;
    padding-right: 18px;
  }

  .gallery-item__text--best-day b {
    order: -3;
    width: 40px;
    padding-left: 28px;
  }

  .gallery-item__text--best-day .gallery-item__user {
    order: -2;
    width: 180px;
  }

  .gallery-item__user-name {
    font-size: 14px;
    line-height: 24px;
    padding-left: 28px;
  }

  .gallery-item__user-time {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .gallery-item__user-text {
    font-size: 14px;
    line-height: 24px;
    padding-left: 28px;
  }
}
@media @desktop-widths {
  .gallery-item {
    margin-bottom: 56px;
  }

  .gallery-item__photo {
    height: 400px;
  }

  .gallery-item__text {
    padding-top: 23.5px;
    min-height: 131px;
  }

  .gallery-item__user-time {
    margin-left: 0;
  }

  .gallery-item--best-day {
    margin-bottom: 41px;
  }

  .gallery-item__photo--best-day {
    width: 1200px;
    height: 505px;
  }

  .gallery-item__text--best-day {
    width: 940px;
    padding-bottom: 3px;
    min-height: 71px;
  }

  .gallery-item__like {
    margin-bottom: 23px;
  }

  .gallery-item__text--best-day .gallery-item__like {
    width: 151px;
  }
}
