.img-filter{
padding-bottom: 27px;
}

.img-filter__controls{
display: flex;
justify-content: center;
margin-top: 40px;
}
.img-filter__btn span{
.visuali-hidden;
}

.img-filter__btn{
display: block;
width: 48px;
height: 48px;
background-color: red;
margin: 0 16px;

}

.img-filter__range{
  position: relative;
  display: block;
  margin-bottom: 75px;
}

.img-filter__range input {
.visuali-hidden;
}
.img-filter__range p{
  display: block;
  height: 2px;
  width: 240px;
  background-color: black;
  margin: 0 auto;
  margin-top: 35px;
  }

.img-filter__range-controls {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px #dc6484;
  border-radius: 50% 50%;
  background-color: @bg-lightgrey;
  top:-5px;
  right: 53px;

}

.img-filter__button {
  border-color: #d22856;
  color:#d22856;
  margin: 0 auto;
  padding: 14px;
  width: 278px;
  margin-bottom: 12px;

}
