.like-block {
  position: relative;
  box-sizing: border-box;
&::after{
  content: "";
  position: absolute;
  top: 0;
  right:0;
  transform: translateY(50%);
  display: block;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

}


.like-block__btn {
  .visuali-hidden;
}

.like-block__text {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856;
  padding-left: 49px;
}

.like-block__summ {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856;
}


@media @tablet-widths {
.like-block{
  width: 100%;
}

  .like-block__text {
    padding-left: 0;
  }
}
