
.modal-content-show {
display: block;

}

.main-nav {

  position: relative;
}

.main-nav--close{
   //Сокрытие меню
display: none;
}



.main-nav__toggler {
  display: block;
  position: absolute;
  left: 39%;
  transform: translateX(117px);
  top: -48px;
}

// .main-nav__toggler::after {
//   content: "";
//   display: block;
//   width: 30px;
//   height: 5px;
//   position: absolute;
//   background-color: #ffffff;
//   transform: rotate(45deg) translate(4px, 9px);
// }

.main-nav__toggler-wrapper{
  .container;
  position: relative;
}
// .main-nav__toggler::before {
//   content: "";
//   display: block;
//   position: absolute;
//   width: 30px;
//   height: 5px;
//   background-color: #ffffff;
//   transform: rotate(-45deg) translate(-9px, 4px);
// }

.main-nav__toggler:hover::before {
  background-color: #d22856;
}

.main-nav__toggler:hover::after {
  background-color: #d22856;
}

.main-nav__toggler:active::before {
  background-color: rgba(210, 40, 86, 0.3);
}

.main-nav__toggler:active::after {
  background-color: rgba(210, 40, 86, 0.3);
}

.main-nav__list {
  border-top: solid 1px black;
  background-color: @bg-darkblue;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  list-style: none;
  margin: 0;
}

.main-nav__item a {
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  border-bottom: solid 1px black;
}

.main-nav__item a {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 15px 0;
}

.main-nav__item a[href]:active,
.main-nav__item a[href]:hover {
  border-top: solid 1px black;
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  color: #d22856;
}

.main-nav__item a[href]:focus {
  color: rgba(210, 40, 86, 0.3);
}
@media @tablet-widths {
  .main-nav__toggler{
  left: 481px;
  top: -66px;}

}
@media @desktop-widths {
  .main-nav__list {
    width: 622px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 8px;
    margin-top: 10px;
    justify-content: space-between;
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  .main-nav__item {}

  .main-nav__item a {
    text-transform: none;
    font-weight: 400;
    border: none;
    padding: 6px 0;
  }

  .main-nav__item a[href]:active,
  .main-nav__item a[href]:hover {
    border: none;
  }

  .main-nav__item--active {
    border-bottom: solid 2px white;
    margin-bottom: -2px;
  }

  .main-nav__toggler-wrapper{
    display: none;
  }
}
