.page-footer {
padding-top: 41px;
}

.page-footer__wrapper {
  .container;
}

.page-footer__logo {
  display: block;
  text-align: center;

}

.page-footer__social {
margin-top: 26px;
}

.page-footer__copyright {
  font-size: 14px;
  font-weight: 400;
  margin-top: 41px;
  margin-left: 74px;
  vertical-align: middle;
}

.page-footer__copyright-link {
display: inline-block;
width: 27px;
height: 34px;
background-image: url("../img/logo-htmlacademy.svg");
background-repeat: no-repeat;
background-position: center;
vertical-align: middle;
margin-left: 11px;
}


.page-footer__copyright-hidden {
.visuali-hidden;
}
