.pink-photo__text {
  margin-top: -72px;
  padding-top: 100px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 5px left 50%;
  min-height: 141px;
  background-color: @bg-darkblue;
}

.pink-photo__text h2 {
  font-size: 24px;
  color: white;
  font-weight: 300;
  .container;
  text-align: center;
}

.pink-photo__promo-text {
  .container;
  text-align: center;
  margin-top: 45px;
}
