.price {
  position: relative;
  display: block;
  background-color: @bg-lightgrey;
  padding-bottom: 47px;
  margin-top: 67px;
}

.price__title {
  .visuali-hidden;
}

.prise__table {
  position: relative;
  top: 65px;
}

.price__pagination {}
@media @mobile-widths-only {}
@media @tablet-widths {
  .price {
    margin-top: 73px;
  }

  .prise__table {
    top: 0;
    margin: 0 auto;
    margin-top: 109px;
  }
}
