.price-list__item-header{
  padding-top: 16px;
background-color: @bg-darkblue;
width: 280px;
color: white;
font-size: 18px;
line-height: 30px;
font-weight: 700;
text-transform: uppercase;
}

.price-list__item-header p {

  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 21px;
}

.price-list__item{
  padding-right: 30px;
}



.price-list__item-text{
font-size: 14px;
line-height: 30px;
text-align: left;
text-transform: uppercase;

}

.price-list__item-check {
.visuali-hidden;
}
