.price {
  position: relative;
  display: block;
  background-color: @bg-lightgrey;
  padding-bottom: 47px;
  margin-top: 41px;
}

.price__title {
  .visuali-hidden;
}

.prise__table {}

.price__pagination {}

.price::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/bg-triangle-white.svg");
  top: 0;
  width: 100%;
  height: 27.074px;
  background-repeat: no-repeat;
  z-index: 2;
}
@media @mobile-widths-only {
  .prise__table {
    transform: translateX(-539px;);
  }

  .price__wrapper {
    padding-top: 91px;
    width: 320px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 321px;
    position: relative;
  }
}
@media @tablet-widths {
  .price {
    margin-top: 21px;
    padding-top: 53px;
    padding-bottom: 69px;
    background-color: @bg-lightgrey;
  }

  .price::before {
    height: 50.074px;
  }

  .prise__table {
    margin: 33px auto 0;
  }
}
@media @desktop-widths {
  .price {
    margin-top: 40px;
    padding-top: 146px;
  }

  .prise__table {
    margin-top: 0;
  }

  .price::before {
    height: 81.074px;
}
}
