.price-list {
  border-collapse: collapse;
}

.price-list__item-header {
  padding-top: 16px;
  background-color: @bg-darkblue;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #f2f2f2;
}

.price-list__item-header:first-child {
  background-color: transparent;
}

.price-list__item-header--hit {
  position: relative;
}

.price-list__item-header--hit::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 73px;
  top: 0;
  left: -3px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}

.price-list__item-header--hit::after {
  content: "хит";
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  position: absolute;
  width: 74px;
  height: 73px;
  top: 3px;
  left: 2px;
  transform: rotate(-45deg);
}

.price-list__item-header p {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 21px;
}

.price-list__item {
  border: 3px solid #e5e5e5;
  min-width: 140px;
  min-height: 30px;
  white-space: nowrap;
  padding: 12px 115px 15px 21px;
  position: relative;
  background-color: white;
}

.price-list__item-text {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}

.price-list__item-check {
  font-size: 0;
  display: block;
  position: absolute;
  width: 27px;
  height: 26px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  top: 46%;
  right: 6px;
  transform: translate( -50% , -50%);
  background-size: contain;
  background-position: center;
}

.price-list__item-check--enabled {
  background-image: url("../img/icon-yes.svg");
  width: 31px;
  height: 21px;
  right: 2px;
}

.price-list__item-text-title {
  white-space: nowrap;
}
@media @mobile-widths-only {}
@media @tablet-widths {
  .price-list {
    width: 620px;
    min-height: 222px;
  }

  .price::before {
    top: -41px;
  }

  .price-list__item-header {
    font-size: 16px;
    width: 151px;
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .price-list__item-header p {
    font-size: 18px;
    margin: 0;
  }

  .price-list__item {
    padding: 3px 0 6px 11px;
    position: relative;
  }

  .price-list__item-text {
    .visuali-hidden;
  }

  .price-list__item-text-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: none;
  }

  .price-list__item-check {
    top: 49%;
  right: 48px
  }
  .price-list__item-check--enabled{
      right: 43px
  }

  .price__pagination {
    .visuali-hidden;
  }
}
@media @desktop-widths {
  .price-list {
    width: 940px;
    min-height: 282px;
  }

  .price-list__item-header {
    font-size: 18px;
    padding-bottom: 12px;
    width: 160px;
  }

  .price-list__item-header p {
    font-size: 24px;
  }

  .price-list__item-text-title {
    font-size: 18px;
  }

  .price-list__item {
    padding: 3px 0 3px 19px;
  }
}
